<!-- <div class="bootstrap-wrapper">

  <div class="container mt">

    <div class="row">

      <div class="col-md-6 offset-md-3">

        <div class="container text-center">
          <img class="img-fluid" style="width: 100px;" src="/assets/password.png.png" alt="">
        </div>

        <h1 class="text-center">Forgot Password </h1>

       

        <form [formGroup]="forgotPasswordForm" (ngSubmit)="submitForm()">

          <mat-form-field class="full-width" appearance="outline">

            <mat-label class="bi bi-envelope "> enter new password</mat-label>
            <input type="password" formControlName="password" required="password" matInput>

          </mat-form-field>
          <small class="error-message">
            <div class="text-height" *ngIf="Password.errors?.['required']&&Password.touched && Password.invalid">
              password is required.
            </div>
          
          </small>


          <mat-form-field class="full-width" appearance="outline">

            <mat-label class="bi bi-envelope "> confirm Password</mat-label>
            <input type="password" formControlName="password" required="password" matInput>

          </mat-form-field>
          <small class="error-message">
            <div class="text-height"
              *ngIf="ConfirmPassword.errors?.['required']&&ConfirmPassword.touched && ConfirmPassword.invalid">

            </div>
            <div class="text-height" *ngIf="ConfirmPassword.errors?.['pattern']">
              Please enter a valid email address like abc&#64;gmail.com
            </div>
          </small>
        



          <div class="container text-center">
            <button class="white mt-3" type="submit" mat-raised-button color="accent">Change Password</button>
          </div>
        </form>
        <form action="">

        </form>

      </div>
    </div>
  </div>
</div> -->

<div class="bootstrap-wrapper">
  <div class="container mt">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <div class="container text-center">
          <img class="img-fluid" style="width: 100px;" src="/assets/password.png.png" alt="">
        </div>
        <h1 class="text-center">Forgot Password </h1>

        <form [formGroup]="forgotPasswordForm" (ngSubmit)="submitForm()">

          <mat-form-field class="full-width" appearance="outline">
            <mat-label class="bi bi-envelope"> enter new password</mat-label>
            <input type="password" formControlName="password" matInput>
          </mat-form-field>
          <small class="error-message">
            <div class="text-height" *ngIf="Password.errors?.['required'] && Password.touched">
              Password is required.
            </div>
          </small>

          <mat-form-field class="full-width" appearance="outline">
            <mat-label class="bi bi-envelope"> confirm Password</mat-label>
            <input type="password" formControlName="confirmPassword" matInput>
          </mat-form-field>
          <small class="error-message">
            <div class="text-height" *ngIf="ConfirmPassword.errors?.['required'] && ConfirmPassword.touched">
              Confirm Password is required.
            </div>
            <div class="text-height" *ngIf="confirmPasswordMismatch()">
              Password and Confirm Password must match.
            </div>
          </small>

          <div class="container text-center">
            <button class="white mt-3" type="submit" mat-raised-button color="accent"
              [disabled]="confirmPasswordMismatch()">Change Password</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>