.setsize{
    margin-top:70px;
}
.data{
    margin-top: 10px;
    margin-left: 500px;
    font-size:large;
    color: crimson;
}
.unableToLoad{
    margin-top: 100px;
    margin-left: 400px;
    font-size:large;
    color: crimson;
}
.input{
    display: block;
    margin-right: 0px;
    padding: 0px;
    margin-left: 187px;
    margin-top: -25px;
}
input{
    cursor: pointer;
}
.page-border {
    margin-top: 102px;
    width: 84%;
    height: -moz-fit-content;
    height: fit-content;
    border: 1px solid #1bb1d7;
    border-radius: 26px;
    padding: 9px;
    margin-left: 210px;
  }