.setsize{
    margin-top:70px;
}
.data{
    margin-top: 10px;
    margin-left: 500px;
    font-size:large;
    color: crimson;
}
.unableToLoad{
    margin-top: 100px;
    margin-left: 400px;
    font-size:large;
    color: crimson;
}