.container{
    margin-top: 100px;
    width: 800px; 
    border: 2px solid #ccc; /* Border color can be adjusted */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Box shadow with a slight transparency */
    padding: 50px; /* Add some padding to improve visual appearance */
    background-color: #fff; /* Background color for the container */
    
}
.form-row{
    width:1450px;
}
.form-label{
    font-size: 13px; /*7 Adjust the font size as needed */
      font-weight: bold; /* Make the labels bold if desired */
      color: #333; /* Set the color of the labels */
}
.form-control{
display: block;
    width: 270p;
    height: 35px;
    padding: .375rem .75rem;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}







/* Optional: Add hover effect to the input boxes */
input:hover {
    border-color: #666; /* Change border color on hover */
}