button{
    cursor: pointer;
}
.set-size{
    margin-top: 40px;
    width: 100%;
    position: absolute;
}
.justify-content-between{
    display: flex;
 }
 .page-border {
    margin-top: 54px;
    width: 89%;
    height: -moz-fit-content;
    height: fit-content;
    border: 1px solid #1bb1d7;
    border-radius: 26px;
    padding: 9px;
    margin-left: 158px;
  }


  .edit{
    margin-right: 13px;
    /* background-color: #376eb9; */
    
    height: 31px;
    padding-left: 18px;
    padding-right: 18px;
    border-radius: 6px;
    font-size: 11px;
    margin-top: 9px;
    /* padding: 4px; */
    border: none;
    font-weight: bold;
    
    }
    .main-heading {
        font-family: revert-layer;
        font-weight: bold;
        font-size: 33px;
        margin-bottom: 24px;
        margin-top: 32px;
    }
    