

<body>
 
  <div class="set-size"> 
<div class="container">
      <div class="page-border">
          <h2 class="justify-content-center d-flex font-bold"  style="color: DodgerBlue;"><u>Employee List</u></h2>
         

    <div class=" mt-0">

     <div class="float-end m-1">
      <button  class="rounded rounded-1   text-light btn btn-primary  m-1" (click)="resetForm()"   data-target="#edit" data-toggle="modal"><b> Add Employee</b> </button>
      <button  class="rounded rounded-1   text-light m-1 btn btn-success"     (click)="generateExcel()"><b>Excel Export</b> </button>
     </div>

      <table class="table  mt-1" >
        <thead >
          <tr>
            <th>Emp Id</th>
            <th>Email Id</th>
            <th>Mobile No</th>
            <th>Department</th>
            <th>Role</th>
            <th>Org_Name</th>
            <th>Emp_type</th>
            <th>B_Place</th>
            <th>Address</th>
            <th>Edit</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody >
          <tr *ngFor="let employee of employees" >
            <td>{{ employee.emp_id }}</td>
            <td>{{ employee.email_id }}</td>
            <td>{{ employee.mobile_no }}</td>
            <td>{{ employee.department }}</td>
            <td>{{ employee.role }}</td>
            <td>{{ employee.org_name }}</td>
            <td>{{ employee.emp_type }}</td>
            <td>{{ employee.bp }}</td>
            <td>{{ employee.address}}</td>
            <td><i type="button" (click)="edit (employee)" class="bi bi-pencil-square mx-2" data-target="#edit" data-toggle="modal"></i></td>
            <td><i type="button" (click)="Delete(employee.emp_id)"   class="bi bi-trash mx-3"></i></td>
          </tr>
        </tbody>
      </table>
    </div>

      <div class="modal " id="edit">
        <div class="modal-dialog ">
           <div class="modal-content" style="width: 500px; height: 510px;">
      <div class="justify-content-between">
        <h4 class="modal-title m-2 "><b>Employee Details</b></h4>
        <i class="bi bi-x-lg m-2" data-dismiss="modal" type="button"></i>
      </div>
      <div>
        <form [formGroup]="frmEdit">
         <div class="m-3">
          <dt>Emp_id</dt>
          <input type="text"  class="form-control"  formControlName="emp_id" id="emp_id" placeholder="Emp id" style="height: 30px;" >
          <div class="text-danger" *ngIf="frmEdit.controls.emp_id.touched && frmEdit.controls.emp_id.invalid">
            <div *ngIf="frmEdit.controls.emp_id.errors?.['required']">id Required</div>
        </div>
          <dt >Email id</dt>
          <input type="email"  class="form-control" formControlName="email_id" placeholder="Email id" id="email_id" style="height: 30px;" >
          <div class="text-danger" *ngIf="frmEdit.controls.email_id.touched && frmEdit.controls.email_id.invalid">
            <div *ngIf="frmEdit.controls.email_id.errors?.['required']">Email Required</div>
            <div *ngIf="frmEdit.controls.email_id.errors?.['email']">write in email form</div>
         </div>
         <dt>Mobile No</dt>
            <input type="text" class="form-control" formControlName="mobile_no" placeholder="mobile no" id="mobile_no" style="height: 30px;" >
            <div class="text-danger" *ngIf="frmEdit.controls.mobile_no.touched &&frmEdit.controls.mobile_no.invalid">
                    <div *ngIf="frmEdit.controls.mobile_no.errors?.['required']">Mobile Required</div>
                    <div *ngIf="frmEdit.controls.mobile_no.errors?.['pattern']">Invalid Mobile +91 and 10 digits</div>
                </div>
            <dt>Department</dt>
            <input type="text" class="form-control" formControlName="department" placeholder="Department" id="department" style="height: 30px;">
            <div class="text-danger" *ngIf="frmEdit.controls.department.touched && frmEdit.controls.department.invalid">
              <div *ngIf="frmEdit.controls.department.errors?.['required']">Department Required</div>
          </div>
            <dt>Role</dt>
            <select type="text" class="form-control dropdown" formControlName="role" placeholder="Role"  style="height: 30px;" [(ngModel)]="Role">
              <option [ngValue]="null" disabled selected>Role</option>
              <option *ngFor="let r of Roles " [value]="r.id">
                {{r.roles}}
              </option>
            </select>               
            <dt>Organization Name</dt>
            <select type="text" class="form-control dropdown"  formControlName="org_name" placeholder="Organization" style="height: 30px;" id="org_name" >
              <option [ngValue]="null" disabled selected>Organization</option>
              <option>Incresol</option>
            </select>         
            <dt>Employee Type</dt>
            <select type="text" class="form-control dropdown" formControlName="emp_type" placeholder="Employee Type" id="emp_type" style="height: 30px;" [(ngModel)]="Emptype">
              <option [ngValue]="null" disabled selected>Employee_Place</option>
              <option *ngFor="let t of EmpType " [value]="t.id">{{t.type}}</option>
            </select>          
            <dt>B_Place</dt>
            <select type="text" class="form-control dropdown" formControlName="bp" id="bp" placeholder="Business place" style="height: 30px;" >
              <option [ngValue]="null" disabled selected>Business_Place</option>
              <option >Hyderabad</option>
              <option >Banglor</option>
              <option >Mumbai</option>
              <option >Jaipur</option>
            </select>        
            <dt>Address</dt>
            <input type="text" class="form-control" formControlName="address" id="address" placeholder="Address" style="height: 30px;" >
            <div class="text-danger" *ngIf="frmEdit.controls.address.touched && frmEdit.controls.address.invalid">
              <div *ngIf="frmEdit.controls.address.errors?.['required']">Address Required</div>
          </div>
          <div class="modal-footer float-end ">
            <button class="btn btn-secondary m-1 text-light" data-dismiss="modal" style="height: 30px;">Cancel</button>
            <button  [disabled]="frmEdit.invalid" class="btn btn-primary m-1 text-light"style="height: 30px;"   (click)="submit()">Save</button>
          </div>
         </div>
        
        </form>

      </div>
    </div>
    </div>
    </div>
    </div>
    </div>
</div>

</body>
