<div class="page-border">
  <app-project-header></app-project-header>
  <!-- <div class="page-border">  -->
    <div class="container">
        <form [formGroup]="taskForm" (ngSubmit)="taskSubmit($event)">
            <h2 class="h2 text-center text-primary">Create Task</h2>
            <div class="row m-2" >
              <div class="col-md-4">
                <div class="form-group">
                  <label for="taskName">Task Name</label>
                  <input type="text" id="taskName" class="form-control" formControlName="name">
                  <div *ngIf="name?.invalid && name?.touched ">
                    <div *ngIf="name?.errors?.['required']" class="text-danger">Task name required</div>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label for="taskType">Task Type</label>
                  <input type="text" id="taskType" class="form-control" formControlName="type">
                  <div *ngIf="type?.invalid &&type?.touched ">
                    <div *ngIf="type?.errors?.['required']" class="text-danger">Task type required</div>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label for="taskDescription">Task Description</label>
                  <input type="text" id="taskDesc" class="form-control" formControlName="description">
                  <div *ngIf="description?.invalid &&description?.touched ">
                    <div *ngIf="description?.errors?.['required']" class="text-danger">Task description required</div>
                  </div>
                </div>
              </div>
            </div>
          
            <div class="row m-2">
              <div class="col-md-4">
                <div class="form-group">
                  <label for="hours">Hours</label>
                  <input type="number" id="hours" class="form-control" formControlName="hours">
                  <div *ngIf="hours?.invalid &&hours?.touched ">
                    <div *ngIf="hours?.errors?.['required']" class="text-danger">Task hours required</div>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label for="status">Status</label>
                  <select id="status" class="form-control" formControlName="status">
                    <option value="" disabled>Select a Status</option>
                    <option *ngFor="let option of statusOptions" [ngValue]="option">{{ option }}</option>
                  </select>
                  <div *ngIf="taskForm.get('status')?.invalid&&taskForm.get('status')?.touched ">
                    <div *ngIf="taskForm.get('status')?.hasError('required')" class=" text-danger">Select status</div>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label for="startDate">Start Date</label>
                  <input type="date" id="startDate" class="form-control" formControlName="startDate">
                  <div *ngIf="startDate?.invalid &&startDate?.touched ">
                    <div *ngIf="startDate?.errors?.['required']" class="text-danger">Task startDate required</div>
                  </div>
                </div>
              </div>
            </div>
          
            <div class="row m-2">
              <div class="col-md-4">
                <div class="form-group">
                  <label for="endDate">End Date</label>
                  <input type="date" id="endDate" class="form-control" formControlName="endDate">
                  <div *ngIf="endDate?.invalid &&endDate?.touched ">
                    <div *ngIf="endDate?.errors?.['required']" class="text-danger">Task EndDate required</div>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label for="assignee">Assignee</label>
                  <select id="assignee" class="form-control" formControlName="assignee">
                    <option value="" disabled>Select an Assignee</option>
                    <option *ngFor="let option of employee" [ngValue]="option.email_id">{{ option.email_id }}</option>
                  </select>
                  <div *ngIf="taskForm.get('assignee')?.invalid&&taskForm.get('assignee')?.touched ">
                    <div *ngIf="taskForm.get('assignee')?.hasError('required')" class=" text-danger">Select Lead</div>
                  </div>
        
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label for="project">Project Name</label>
                  <select id="prjName" class="form-control" formControlName="projectId">
                    <option value="" disabled>Select a Project Name</option>
                    <option *ngFor="let option of prjNameOptions" [selected]="projectId == option.id" [value]="option.id">{{ option.name }}</option>
                  </select>
                  
                </div>
              </div>
            </div>
            <div class="form-group d-flex justify-content-center">
            <button class="edit m-4 " (click)="clickToChild()" >Back</button>
              <button type="submit" class="btn btn-success m-4 " [disabled]="this.taskForm.invalid">Save Task</button>
            </div>
          </form>
        </div>
      </div>
    <!-- </div> -->