.container{
    background: #f8f9fa;
    padding: -3px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 13px;
    /* border: 1px solid skyblue; */
    width: 98%;
    margin-left: 15px;
    margin-top: 2px;
}

/* .btn:not(:disabled):not(.disabled) {
    padding-bottom: -2px;
    cursor: pointer;
    /* margin-top: 12px; */
    /* margin-top: 16px;
    padding: 16px; */
    /* margin-bottom: 31px; */




/* .form-control{
    
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    font-weight: bolder;
    
    color: black;
   
    border: var(--bs-border-width) solid var(--bs-border-color);
    border-radius: var(--bs-border-radius);
  
} */
select.form-control:not([size]):not([multiple]) {
height: 39px;
}

/* .btn:disabled{
    color: var(--bs-btn-disabled-color);
    pointer-events: none;
    background-color: var(--bs-btn-disabled-bg);
    border-color: var(--bs-btn-disabled-border-color);
    opacity: var(--bs-btn-disabled-opacity);
    font-size: 20px;
    border-radius: 10px;
    border-radius: 10px;
} */

/* .btn:not(:disabled):not(.disabled){
    cursor: pointer;
    padding-right: 27px;
    padding-left: 27px;
    font-size: 20px;
    border-radius: 10px;
} */
/* .page-border{
    margin-top: 105px;
    width: 84%;
    height: -moz-fit-content;
    height: fit-content;
    border: 1px solid #1bb1d7;
    border-radius: 26px;
    padding: 9px;
    margin-left: 208px;
} */

.edit[_ngcontent-ng-c3437094902] {
    margin-right: 13px;
    color: whitesmoke;
    height: 31px;
    padding-left: 18px;
    padding-right: 18px;
    border-radius: 6px;
    font-size: 14px;
    margin-top: 16px;
    border: none;
    font-weight: bold;
}
  .page-border {
    margin-top: 92px;
    width: 84%;
    border: 1px solid skyblue;
    border-radius: 26px;
    padding: 20px; /* Adjust the padding as needed */
    margin-left: 208px;
  }

 

.btn[_ngcontent-ng-c3870026032][_ngcontent-ng-c3870026032]:not(:disabled):not(.disabled) {
    /* padding-bottom: -2px; */
    cursor: pointer;
    /* margin-top: 6px; */
    padding-top: 5px;
    margin-top: 16px;
    /* padding-bottom: -5px; */
}


.main-heading {
    font-family: revert-layer;
    font-weight: bold;
    font-size: 33px;
    margin-bottom: 24px;
    margin-top:27px
  }

