.full-width{
    width: 500px;
}
.error-block{
    color: red;
    height: auto;
    font-weight: bold;
    
    
} 
 .red-color-email{
    color: red;
    
 }
 .red-color-password{
    color: red;
 }
 .text-height{
    font-size: 15px;
    margin-top: -20px;
     
    line-height: 32px;
    font-weight: 400;
 }