<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>

<body>

  <div class="container-fluid  shadow p-3 mb-5 bg-body-tertiary rounded " style="width: 600px;">

    <h4 mat-dialog-title> <b>Add Employee</b></h4>

    <div mat-dialog-content class="custom-dialog " style="height: 400px;">

      <form [formGroup]="frmRegister">

        <div class="form-control">



          <label>Email Id</label>
          <input type="text" class="form-control" formControlName="email_id" placeholder="Email id" id="email_id">
          <div class="text-danger" *ngIf="email_id.touched && email_id.invalid">
            <div *ngIf="Mobile.errors?.['required']">email Required</div>
            <div *ngIf="Mobile.errors?.['pattern']">write in email form</div>
          </div>

          <label>Mobile No</label>
          <input type="text" class="form-control" formControlName="mobile_no" placeholder="mobile no" id="mobile_no">
          <div class="text-danger" *ngIf="Mobile.touched && Mobile.invalid">
            <div *ngIf="Mobile.errors?.['required']">Mobile Required</div>
            <div *ngIf="Mobile.errors?.['pattern']">Invalid Mobile +91 and 10 digits</div>
          </div>

          <dt>Department</dt>
          <input type="text" class="form-control" formControlName="department" placeholder="Department" id="department">
          <div class="text-danger" *ngIf="Deparment.touched && Deparment.invalid">
            <div *ngIf="Deparment.errors?.['required']">Department Required</div>
          </div>

          <dt>Role</dt>
          <select type="text" class="form-control dropdown" formControlName="role" placeholder="Role"
            [(ngModel)]="Role">
            <option *ngFor="let r of Roles " [value]="r.id">
              {{r.roles}}
            </option>
          </select>

          <dt>Organization Name</dt>
          <select type="text" class="form-control dropdown" formControlName="org_name" placeholder="Organization"
            id="org_name">
            <option>Incresol</option>
          </select>

          <dt>Employee Type</dt>
          <select type="text" class="form-control dropdown" formControlName="emp_type" placeholder="Employee Type"
            id="emp_type" [(ngModel)]="Emptype">
            <option *ngFor="let t of EmpType " [value]="t.id">{{t.type}}</option>
          </select>

          <dt>B_Place</dt>
          <select type="text" class="form-control dropdown" formControlName="bp" id="bp" placeholder="Business place">
            <option>Hyderabad</option>
          </select>

          <dt>Address</dt>
          <input type="text" class="form-control" formControlName="address" id="address" placeholder="Address">
          <div class="text-danger" *ngIf="Address.touched && Address.invalid">
            <div *ngIf="Address.errors?.['required']">Address Required</div>
          </div>

          <div mat-dialog-actions class="justify-content-center">
            <button class="btn btn-primary"  (click)="onSaveClick()">Submit</button>
          </div>
        </div>
      </form>

    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>
</body>