<!-- <div class="mat-sidenav-container1" [ngClass]="getSidebarClass()">
    <mat-sidenav-container class="sidenav-wrapper">
        <mat-sidenav opened="open" #sidenav mode="side" style="background: black;"  >
            <mat-nav-list style="color: black;">

                <a mat-list-item style="color: white;" [matMenuTriggerFor]="organizationMenu">
                    <img class="img" src="/assets/orgimg1.png">
                    <span style="color: white  ;">Organization</span>
                </a>

                <a mat-list-item [matMenuTriggerFor]="taskMenu"><img class="img" src="/assets/taskicon1.png"
                        alt=""><span style="color: white ;">Task</span></a>
                <a mat-list-item href="/layout/folder-cards"><mat-icon class="text-color1">folder</mat-icon><span
                        style="color: white ;">Folder</span> </a>


            </mat-nav-list>

        </mat-sidenav>



    </mat-sidenav-container>


    <mat-menu #organizationMenu="matMenu">
        <button mat-menu-item routerLink="/layout/org-org">Add Organization</button>
        <button mat-menu-item>Gas Connection</button>
        <button mat-menu-item>Customer Care </button>
        <button mat-menu-item>Details</button>
    </mat-menu>
    <mat-menu #taskMenu="matMenu">
        <button mat-menu-item>Create Task</button>
        <button mat-menu-item>Create Child Task</button>

    </mat-menu>

</div> -->