.main-heading {
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 20px;
}

.main-div {
  margin-top: 60px;
}

#inputState,
#inputCountry {
  height: 35px;
}

.row-check {
  height: 65px;
}

.modal-header {
  height: 50px;
}

.modal-footer {
  height: 50px;
}

.form-row {
  height: 75px;
  margin-top: 2px;
}
/* 
.btn-btn {
  width: 130px;
  height: 45px;
  color: white;
  background-color: #d0b200;
  border-width: 0px;
  border-radius: 8px;
  margin-right: 15px;
} */

.container {
  background-color: whitesmoke;
  padding: 15px;
}

.bp-container {
  margin-top: 20px;
  background-color: white;
}

.custom-btn {
  margin-left: 90%;
  width: 130px;
  height: 45px;
  color: white;
  background-color: rgba(16, 159, 16, 0.638);
  border-width: 0px;
  border-radius: 8px;
  margin-right: 10px;
  margin-left: 960px;

}
.content{
  margin-top: 70px;
  position: inherit;
}
.text-center{
  margin-top: 20px;
}


.btn-invalid {
  border: 1px solid; /* Red border for invalid state */

  margin-left: 15px;
  background-color: #d0b200;
}

.btn-valid {
  width: 110px;
  height: 45px;
  color: white;
  background-color: #d0b200;
  border-width: 0px;
  border-radius: 8px;
  margin-right: 15px;
  color: black; /* Text color for valid state */
}


 
.page-border {
  margin-top: 80px;
  width: 90%;
  height: fit-content;
  border: 1px solid #1bb1d7;
  border-radius: 26px;
  padding: 9px;
  margin-left: 75px;
  
}
