.container {
  background: #f8f9fa;
  padding: -3px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 13px;
  border: 1px solid skyblue;
  width: 98%;
  margin-left: 15px;
  margin-top: 2px;
  /* height: 195px; */
  /* height: 235px; */

}
  
  h2 {
    color: #007bff;
  }
  
  label {
    font-weight: bold;
  }
  
  input,
  textarea {
    border: 1px solid #ced4da;
    border-radius: 5px;
    padding: 8px;
    margin-bottom: 10px;
  }
  
  .invalid-feedback {
    color: #dc3545;
  }
  .btn:disabled{
    color: whitesmoke;
    /* pointer-events: none; */
    background-color: green;
    /* border-color: var(--bs-btn-disabled-border-color); */
    /* opacity: var(--bs-btn-disabled-opacity); */
    font-size: 12px;
    border-radius: 5px;
    padding-right: 22px;
    padding-left: 22px;
  }
  
  .btn:not(:disabled):not(.disabled){
    cursor: pointer;
    padding-right: 22px;
    padding-left: 22px;
    font-size: 12px;
    border-radius: 4px;
    background-color: rgb(69 123 28);
    color: whitesmoke;
    /* padding-bottom: 2px; */
  
  }
  


  .form-control{
    
      display: block;
      width: 100%;
      padding: 10px;
      font-size: 1rem;
      font-weight: bolder;
      
      color: black;
     
      border: var(--bs-border-width) solid var(--bs-border-color);
      border-radius: var(--bs-border-radius);
    
}
select.form-control:not([size]):not([multiple]) {
  height: 39px;
}
.page-border {
  margin-top: 92px;
  width: 84%;
  border: 1px solid skyblue;
  border-radius: 26px;
  padding: 20px; /* Adjust the padding as needed */
  margin-left: 208px;
}