.full-width{
    width: 500px;
}
.error-block{
    color: red;
    height: auto;
    font-weight: bold;
    
    
} 
 .red-color-email{
    color: red;
    
 }
 .red-color-password{
    color: red;
 }
 .text-height{
    font-size: 15px;
    margin-top: -20px;
     
    line-height: 32px;
    font-weight: 400;
 }

 .register{
   color: blue;
   margin-top:50px;
   margin-left:490px;
   font-weight: bold;
   font-size:15px;
 }

 .title{
   margin-left: 180px;
 }
 .border{
  margin-top: 100px;
  border: 5px solid blue;
   box-shadow:         3px 3px 5px 6px rgb(135, 135, 252); 
 }