<div class="main-div">

  <div class="container mt">
    <div class="row">
      <div class="col-md-6 offset-md-3">


        <div class="container text-center">
          <img class="img-fluid" style="width: 100px;" src="/assets/password.png.png" alt="">
        </div>


        <h1 class="text-center">Forgot Password </h1>


        <form [formGroup]="forgotPasswordForm" (ngSubmit)="submitForm()">

          <mat-form-field class="full-width" appearance="outline">

            <mat-label class="bi bi-envelope"> Email Id</mat-label>
            <input type="email" formControlName="email" required="email" matInput>
          </mat-form-field>
          <small class="error-message">
            <div class="text-danger temp" *ngIf="Email.errors?.['required']&&Email.touched && Email.invalid">
              Email is required.
            </div>
            <div class="text-danger temp" *ngIf="Email.errors?.['pattern']">
              Please enter a valid email address like abc&#64;gmail.com
            </div>
          </small>
          <div class="container text-center">
            <button (click)="message()" class="white mt-3" type="submit" mat-raised-button color="accent" routerLink="#"
              [disabled]="!forgotPasswordForm.valid">Send Mail</button>

          </div>

        </form>
      </div>
    </div>
  </div>
</div>