
.main-div{
   
    border-radius: 2px solid;
    background: linear-gradient(to right, hsl(180, 59%, 83%), hsl(210, 27%, 96%));
    width: 500px;
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left:430px ;
    margin-top: 40px;
    border-radius: 20px;
    
}
.full-width{
    width: 380px;
    margin-left: -40px;
}
.temp{
    margin-left: -40px;
    font-size: 14px;
    position: relative;
    margin-bottom: 20px;
}